
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <style>
        li{
            font-size: 24px;
        }
        a{
            text-decoration: none;
            color:blue;
            font-size:1.5rem;
        }
    </style>
</head>
<body>
<header>
    <a href="{% url 'home' %}">Bosh sahifa</a>
    <a href="{% url 'about' %}">Biz haqimizda</a>
    <a href="{% url 'contact' %}">Biz bilan bog'lanish</a>
</header>
    {% block content %}
    {% endblock %}
</body>
</html>